/* 네이버 나눔스퀘어 */
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
/* 로고 폰트 */
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean'); 
 

@media(min-width: 551px){
    /* *{
        transition: all 0.3s;
    } */
    #topMain{
        height: 100px;
        background-color: #c29fcb;
    }
    .topMenu> .topMenuList{
        line-height: 7rem;
        height: 100px;
        text-align: center;
        display: inherit;
        color: #000;
        text-decoration: none;
    }
    
    .topMenu> .topMenuListSearch{
        line-height: 7rem;
        height: 100px;
        text-align: left;
        display: inherit;
        color: #000;
        text-decoration: none;
    }
    .topMenu>.topMenuListSearch>span{
        color: #2d3639;
        display: inline-block;
        padding: .625rem .75rem;
        font-weight: 600;
        font-size: .875rem;
        line-height: 1.285714285714286;
        transition: all .12s cubic-bezier(.47,0,.745,.715);
    }
    .topMenu> .topMenuListSearch>span>div{
        font-size: 1.4rem;
        display: inline-block;
        margin-left: 0.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all .12s
    }
    .topMenuListSearch>span>div>input {
        width: 100px;
        font-size: 1.4rem;
        position: absolute;
        z-index: 10;
        border: 0;
        background-color: #c29fcb;
        margin-bottom: -0.5em;
        top: 36px;
        cursor: pointer;
        transition:  cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s;
    }
    .topMenu> .topMenuListSearch>span>div>input::placeholder{
        font-size: 1.4rem;
        display: inline-block;
        margin-left: 0.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        color:#2d3639
    }
    .topMenuListSearch>span>div>input:hover{
        width: 700px;
        border: 1px solid gray;
        
    }
    .topMenuListSearch>span>div>input:focus{
        outline: none;
    }
    
    #profilename{
        color: #2d3639;
        width: 100%;
        margin-top: 20px;
        text-align: left;
    }
    .topMenu>.topMenuList>span{
        color: #2d3639;
        display: inline-block;
        padding: .625rem .75rem;
        font-weight: 600;
        font-size: .875rem;
        line-height: 1.285714285714286;
        transition: all .12s cubic-bezier(.47,0,.745,.715);
    }
    .topMenu> .topMenuList>span>div{
        font-size: 1.4rem;
        display: inline-block;
        margin-left: 0.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all .12s
    }
    .userLogout{
        text-align: center;
        text-decoration: none;
        position: relative;
        top: -28px;
        left: 81px;
        color: currentColor;
        background-color: #c29fcb;
        border: 1px solid #583961;
        border-radius: 5px;
        width: 83px;
        display: inline-block;
        transition: all 0.4s;
    }
    .userLogout:hover{
        background-color: #583961;
        border: 1px solid #583961;
        border-radius: 10px;
        color: #fff;
    }
    .topMenuFirst>.MainLogout>span{
        text-decoration: none;
        text-align: center;
    }
    
    #profilename>.topMenuProfileImg{
        width: 60px;
        margin-left: 11px;
        margin-top: 4px;
        border-radius: 40px;
    }
    #profilename>span{
        color: currentcolor;
        max-width: 200px;
        display: inline-block;
        width: max-content;
        position: relative;
        top: -40px;
        font-weight: 600;
        left: 9px;
        font-size: 1.2em;
    }
    .topMenuListLogo{
        font-size: 2.4rem;
        font-family: 'Black Han Sans', sans-serif;
        line-height: 6rem;
        height: 100px;
        text-align: center;
        display: inherit;
        color: #000;
        text-decoration: none;
    }
    
    
    #topMainFirst{
        position: fixed;
        z-index: 1000;
        width: 100%;
    }
    #topMainFirst>.topMenuFirst{
        background-color: rgba(255,255,255,0);
    }
    .topMenuFirst>.topMenuList{
        line-height: 6rem;
        height: 100px;
        text-align: center;
        display: inherit;
        color: #000;
        text-decoration: none;
      
    }
    .topMenuFirst>.loginController>span>.MainSign{
        margin-top: 1.7em;
        font-size: 1.2em;
        text-decoration: none;
        display: inline-block;
        color: #000;
        border:none;
        background:none;
    }
    .topMenuFirst>.topMenuList>span{
        color: #2d3639;
        display: inline-block;
        padding: .625rem .75rem;
        font-weight: 600;
        font-size: .875rem;
        line-height: 1.285714285714286;
        transition: all .12s cubic-bezier(.47,0,.745,.715);
    }
    .topMenuFirst>.topMenuList>span>div{
        font-size: 1.4rem;
        display: inline-block;
        margin-left: 0.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all .12s
    }
      #profilename>.topMenuProfileImg{
        width: 60px;
        margin-left: 11px;
        margin-top: 4px;
        border-radius: 40px;
    }
    .userLogin{
        width: 100%;
        line-height: 6.5rem;
        text-align: center;
        text-decoration: none;
        height: 100px;
        color: #2d3639;
        display: inline-block;
        font-weight: 600;
        font-size: 1.4rem;
        transition: all .12s cubic-bezier(.47,0,.745,.715);
    }
   
}

@media(max-width: 550px){
    #topMain{
        height: 70px;
        background-color: #c29fcb;
    }
    .topMenu> .topMenuList{
        line-height: 5rem;
        text-align: center;
        display: inherit;
        color: #000;
        text-decoration: none;
      
    }
    .topMenu> .topMenuList>span{
        color: #2d3639;
        display: inline-block;
        /* padding: .625rem .75rem; */
        font-weight: 600;
        font-size: .875rem;
        line-height: 1.285714285714286;
        transition: all .12s cubic-bezier(.47,0,.745,.715);
    }
    .topMenuFirst>.loginController>span>.MainSign {
        margin-top: 0.6em;
        margin-left: 1em;
        font-size: 1em;
        text-decoration: none;
        display: inline-block;
        color: #000;
        border:none;
        background:none;
    }
    .topMenu> .topMenuList>span>div{
        font-size: 1.4rem;
        display: inline-block;
        margin-left: 0.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all .12s
    }
    .topMenuListLogo{
        font-size: 1.4rem;
        font-family: 'Black Han Sans', sans-serif;
        line-height: 4.4rem;
        text-align: center;
        display: inherit;
        color: #000;
        text-decoration: none;
    }
    
    
    #topMainFirst{
        position: fixed;
        z-index: 1000;
        width: 100%;
    }
    #topMainFirst>.topMenuFirst{
        background-color: rgba(255,255,255,0);
    }
    .topMenuFirst>.topMenuList{
        line-height: 6rem;
        height: 100px;
        text-align: center;
        display: inherit;
        color: #000;
        text-decoration: none;
      
    }
    .topMenuFirst>.topMenuList>span{
        color: #2d3639;
        display: inline-block;
        padding: .625rem .75rem;
        font-weight: 600;
        font-size: .875rem;
        line-height: 1.285714285714286;
        transition: all .12s cubic-bezier(.47,0,.745,.715);
    }
    .topMenuFirst>.topMenuList>span>div{
        font-size: 1.4rem;
        display: inline-block;
        margin-left: 0.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all .12s
    }
    #profilename>.topMenuProfileImg{
        margin-top: 1em;
        width: 38px;
        margin-left: 11px;
        border-radius: 40px;
    }

}

@media(max-width: 375px){
    #topMain{
        height: 60px;
        background-color: #c29fcb;
    }
    .topMenu> .topMenuList{
        line-height: 4.5rem;
        text-align: center;
        display: inherit;
        color: #000;
        text-decoration: none;
    }  
    .topMenu> .topMenuList>span{
        color: #2d3639;
        display: inline-block;
        /* padding: .625rem .75rem; */
        font-weight: 600;
        font-size: .875rem;
        line-height: 1.285714285714286;
        transition: all .12s cubic-bezier(.47,0,.745,.715);
    }
    .topMenuFirst>.loginController>span>.MainSign {
        margin-top: 0.5em;
        font-size: 0.9em;
        margin-left: 1em;
        text-decoration: none;
        display: inline-block;
        color: #000;
        border:none;
        background:none;
    }
    .topMenu> .topMenuList>span>div{
        font-size: 1.4rem;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all .12s
    }
    .topMenuListLogo{
        height: 60px;
        font-size: 1rem;
        font-family: 'Black Han Sans', sans-serif;
        text-align: center;
        line-height: 3.8rem;
        display: inherit;
        color: #000;
        text-decoration: none;
    }
    #topMainFirst{
        position: fixed;
        z-index: 1000;
        width: 100%;
    }
    #topMainFirst>.topMenuFirst{
        background-color: rgba(255,255,255,0);
    }
    .topMenuFirst>.topMenuList{
        line-height: 6rem;
        text-align: center;
        display: inherit;
        color: #000;
        text-decoration: none;
      
    }
    .topMenuFirst>.topMenuList>span{
        color: #2d3639;
        display: inline-block;
        padding: .625rem .75rem;
        font-weight: 600;
        font-size: .875rem;
        line-height: 1.285714285714286;
        transition: all .12s cubic-bezier(.47,0,.745,.715);
    }
    .topMenuFirst>.topMenuList>span>div{
        font-size: 1.4rem;
        display: inline-block;
        margin-left: 0.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all .12s
    }
    #profilename>.topMenuProfileImg{
        width: 30px;
        margin-left: 11px;
        margin-top: 1em;
        border-radius: 40px;
    }
    
}


/* Login modal 모바일 */
@media(max-width: 375px){
    .Login_modal_div{
        width:300px;
        height: 500px;
        margin-top: 80px;
        margin-left: 10%;
        text-align: center;
        background:white;
        border-radius: 10px;
        opacity: 0.9;
    }
}

/* Login modal 최소 */
@media(min-width: 500px){
    .Login_modal_div{
        width:400px;
        height: 500px;
        margin-top: 80px;
        margin-left: 10%;
        text-align: center;
        background:white;
        border-radius: 10px;
        opacity: 0.9;
    }
}

/* Login modal 일반 */
@media(min-width: 501px){
    .Login_modal_div{
        width:40%;
        height: 700px;
        margin-top: 80px;
        margin-left: 30%;
        text-align: center;
        background:white;
        border-radius: 10px;
        opacity: 0.9;
    }
}