/*Set.js*/
/*
지정:nth-child(1){순번 결정하기
}
*/
@media(min-width:1px){
    a{
        cursor: pointer;
    }

    *:focus{
        outline: none;
    }
}

/* 세트 - media 일반 사이즈 */
@media(min-width:501px){
.sq_body{
    width:100%;
    font-size: 16px;
    background-color: #f9f9f9;
}    
.sq_body div{
    box-shadow: none;
    background: none;
    background-color: #f9f9f9; 
   
}
/* 공통부분 */
.proimg{
    margin-left: 30px;
    margin-top:10px;
    width:140px;
    height:140px;
    border-radius:100%;
}
.id_box{
    text-align: left;
}
.id{
    font-size: 2.375rem;
    font-weight: bold;
    margin-left: 30px;
}

.btn{
width: 120px;
height:40px;
border:none;
background: none;
font-size: 0.9rem;

}

.btn:hover{
   color: #f9f9f9;
}

.btn:active{
    background-color: #294174;
}

.btn:focus{
    background-color:#294174;
}

.btn_box{
    border-radius:7px;
    width:360px;
    margin-left: 30px;
}

/* 공통부분 끝 */

.sq_content_off{
 width: 90%;
 margin-left: 10px;
 margin-bottom: 10px;
 padding-top: 20px;
 padding-bottom: 30px;
 text-align: center;
}

.sq_content_font1_off{
    font-size: 1.975rem;
    display: block;
    margin-bottom: 30px;   
    margin-top: 30px;
}

.sq_content_font2_off{
    font-size: 0.975rem;
    display: block;   
    margin-bottom: 15px;
}

.sq_content_btn_off{
    border:0.5px solid gray;
    width: 140px;
    height: 50px;
    background-color: #294174;
    border-radius: 5px;
    font-size: 0.875rem;
    color:#fff;
}

.sq_timeset{
    display: flex;
    width:975px;
    flex-basis: 100%;
    margin-left: 10px;
}

.sq_timeset::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
    margin-top:10px ;
    margin-left: 10px;
}

.sq_on_cnt{
    width: 88%;
    height:110px;
    margin-left: 10px;
    margin-bottom: 35px;
    padding-top: 10px;
    padding-left: 10px;
}

.sq_on_txt1{
    font-size:1rem;
    margin-top: 5px;
    display: flex;
}
    
.sq_on_txt2{
    display: inline;
    margin-top: 4px;
    font-size: 1.3erm;
    font-weight: 900;
    color:black;
}

.sq_on_txt_cnt{
    font-size: 0.9rem;
}

.sq_on_title_box{
    height: 30px;
    font-size: 1.5rem;
}
.sq_on_title_box>img{
    display: inline;
    width:25px;
    height: 25px;
    margin-left: 10px;
    margin-top: 10px;
}

.sq_on_more_btn{
    border: none;
    background: #294174;
    border-radius: 5px;
    width: 320px;
    height: 52px;
    float: right;
    margin-right: 39%;
    margin-bottom: 10px;
    color: white;
    font-size: 1rem;
}


}

/* 세트 - media 웹 최소 사이즈 */
@media(max-width:500px){
    .sq_body{
        font-size: 16px;
        background-color: #f9f9f9;
    }
    .sq_body div{    
        box-shadow: none;
        background: none;
    
    }
    .proimg{
        margin-top: 10px;
        margin-left: 10px;
        width:100px;
        height:100px;
        border-radius:100%;
    }
    .id{
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: 1rem;
      
    }
    
    .btn{
    width: 33%;
    height:40px;
    border:none;
    background: none;
    font-size: 0.745rem;
    color:white;
    
    }
    
    .btn:hover{
       color: aqua;
    }
    
    .btn:active{
        background-color: aquamarine;
    }
    
    .btn:focus{
        background-color: rgb(5, 19, 14);
    }
    
    .btn_box{
        border-radius:7px;
        width:300px;
        margin-top: 1.2rem;
    }
    
    .sq_content_off{
     width: 90%;
     margin-left: 25px ;
     padding-top:1px;
     padding-bottom: 10px;
     text-align: center;
    }
    
    .sq_content_font1_off{
        font-size: 1.275rem;
        display: block;
        margin-bottom: 30px;   
        margin-top: 30px;
    }
    
    .sq_content_font2_off{
        font-size: 0.875rem;
        display: block;   
        margin-bottom: 15px;
    }
    
    .sq_content_btn_off{
        border:0.5px solid gray;
        width: 120px;
        height: 40px;
        background-color: #294174;
        border-radius: 10px;
        font-size: 0.725rem;
        color:#fff;
    }
    
    .sq_timeset{
        display: flex;
        flex-basis: 100%;
        font-size: 0.7rem;
    }
    
    .sq_timeset::after {
        content: "";
        flex-grow: 1;
        background: rgba(0, 0, 0, 0.35);
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        margin-top:10px ;
        margin-left: 10px;
    }
    
    .sq_on_cnt{
        width: 90%;
        height:100px;
        padding-left: 10px;
        padding-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    
    .sq_on_txt1{
        font-size:0.875rem;
        margin-top: 5px;
        display: flex;
    }
        
    .sq_on_txt2{
        display: inline;
        margin-top: 4px;
        font-size: 1.1erm;
        font-weight: 900;
        color: black;
    }

    .sq_on_title_box{
        height: 30px;
        font-size: 1.5rem;
    }
    .sq_on_title_box>img{
        display: inline;
        width:25px;
        height: 25px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .sq_on_more_btn{
        border: none;
        background: #294174;
        border-radius: 5px;
        width: 445px;
        height: 40px;
        float: right;
        margin-right: 28px;
        color: white;
        font-size: 1rem;
    }
}
    
/* 세트 - media 모바일 사이즈 */
@media(max-width:375px){
    .sq_body{
       width: 375px;
       font-size: 16px;
       background-color: #f9f9f9;
    }
    .sq_body div{    
        box-shadow: none;
        background: none;
        background-color: white;    
    }
    .proimg{
        margin-top: 10px;
        margin-left: 10px;
        width:100px;
        height:100px;
        border-radius:100%;
    }
    .id{
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: 1rem;
      
    }
    
    .btn{
    width: 33%;
    height:40px;
    border:none;
    background: none;
    font-size: 0.745rem;
    
    }
    
    .btn:hover{
       color: aqua;
    }
    
    .btn:active{
        background-color: aquamarine;
    }
    
    .btn:focus{
        background-color: rgb(5, 19, 14);
    }
    
    .btn_box{
        border-radius:7px;
        width:200px;
        margin-top: 1.2rem;
    }
    
    .sq_content_off{
     width:320px;
     height: 250px;
     margin-bottom: 20px;
     text-align: center;
    }
    
    .sq_content_font1_off{
        font-size: 1.275rem;
        display: block;
        margin-bottom: 30px;   
        margin-top: 30px;
    }
    
    .sq_content_font2_off{
        font-size: 0.875rem;
        display: block;   
        margin-bottom: 15px;
    }
    
    .sq_content_btn_off{
        width: 100px;
        height: 40px;
        background-color: #294174;
        border-radius: 10px;
        font-size: 0.725rem;
    }
    
    .sq_timeset{
        display: flex;
        flex-basis: 100%;
        font-size: 0.7rem;
    }
    
    .sq_timeset::after {
        content: "";
        flex-grow: 1;
        background: rgba(0, 0, 0, 0.35);
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        margin-top:10px ;
        margin-left: 10px;
    }
    
    .sq_on_cnt{
        width: 90%;
        height:100px;
        padding-left: 10px;
        padding-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .sq_on_txt_cnt{
        font-size: 0.8rem;
    }
    
    .sq_on_txt1{
        font-size:0.825rem;
        margin-top: 5px;
        margin-left: 2px;
        display: flex;
    }
        
    .sq_on_txt2{
        display: inline;
        font-weight: 900;
    }
    .sq_on_title_box{
        height: 30px;
        font-size: 1.5rem;
    }
    .sq_on_title_box>img{
        display: inline;
        width:25px;
        height: 25px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .sq_on_more_btn{
        border: none;
        background: #294174;
        border-radius: 5px;
        width: 345px;
        height: 30px;
        float: right;
        margin-right: 18px;
        margin-bottom: 10px;
    }
}
 

/* 폴더 - media 모바일 사이즈 */
@media(max-width:375px){
.fdr_body{
    width:375px;
    height: 100%;
    font-size: 16px;
    background-color: #f9f9f9;
    
} 

.fdr_sort_box{
    height: 80px;
    font-size: 0.8rem;
    text-align: center;
}
.fdr_length_font{
    position: relative;
    top: -10px;
    left: 15;
    font-size: 0.8rem;
}

.fdr_add_btn{
    border:none;
    background: #294174;
    border-radius: 5px;
    width: 100px;
    height:40px;
    margin-top: 10px;
    color:#fff;
}
.fdr_subject_box{
    width:330px;
    height: 70px;
    padding:10px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
}

.fdr_subject_box>.MuiSvgIcon-root:nth-child(1){
    font-size: 3rem;
    display: block;
}
.fdr_subject_box>.MuiSvgIcon-root:nth-of-type(2){   
    font-size: 2rem;
}
.fdr_subject_box>.MuiSvgIcon-root:nth-of-type(3){   
    font-size: 2rem;
}

.fdr_no_box{
    margin-top: 20px;
    margin-bottom:10px;
    margin-left: 17.5px;
    width:340px;
    height:200px;
    text-align: center;
}
.fdr_no_font1{
    font-size:0.9rem;
    display: inline-block;
    margin-top: 20px;
}

.fdr_no_font2{
    font-size: 1.3rem;
    display: inline-block;
    margin-top: 20px;
}
.fdr_no_btn{
    border:0.5px solid gray;
    margin-top: 20px;
    width: 124px;
    height: 40px;
    border-radius: 5px;
    background-color: #294174;
}

.fdr_no_btn:active{
border: none;
}

.fdr_on_modal{
    margin-top: 100px;
    width:340px;
    min-height: 400px;
    max-height:700px;
    margin-left: 17.5px;
    background-color: white;
}

.fdr_on_modal_top{
 text-align: center;
 width: 100%;
 height:50px;
 background-color: #294174;
 padding-top: 30px;
 font-size:1.675rem;
 color:#fff;
}

.fdr_on_modal_input{
    width: 80%;  
    height:60px;
    margin-bottom: 10px;
    border:none;
    border-bottom: 5px solid black;
    font-size:0.975rem;
}

.fdr_on_modal_input:hover{
    border-bottom: 5px solid chartreuse;
}

.fdr_on_submit{
    width: 80%;
    height:60px;
    border-radius: 5px;
}

.fdr_on_font1{
    font-size: 1.1rem;
    margin-left: 10px;
    width: 200px;
    }

.fdr_icon_box{
    padding-top: 10px;
    padding-right: 30px;
    text-align: right;
}

.fdr_set_box{
    margin-top:10%;
    margin-bottom: 10%;
    margin-left: 10px;
    width:170px;
    height:140px;
    box-shadow:5px black;
    display: inline-block;
}

.fdr_set_box_subject{
    margin: 0;
    padding-top:10px;
    padding-left: 10px;
    font-size: 1.165rem;
    font-weight: bold;
}
.fdr_set_box_count{
    margin: 0;
    padding-left: 10px;
    padding-top:10px;
}
.fdr_set_box_id{
    margin: 0;
    padding-left: 10px;
    padding-top:10px;
    font-size: 0.9rem;
    font-weight: 600;
}
.fdr_set_box_id>img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
}

.fdr_set_box_id>span{
    font-size: 0.7rem;
    width:80px;
    display: inline-block;
}
.fdr_on_add_fdr_content{
    max-height: 100%;
    overflow-y: initial !important;
}

.fdr_on_add_fdr_content_box{
    display: inline-block;
    width:130px;
    height: 130px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.fdr_on_add_modal_box input[type='checkbox']{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-top: 10px;
}

.fdr_add_modal_con_sub_font{
    font-size: 0.6rem;
    display: inline;
}
.fdr_add_modal_con_name_font{
    display: inline-block;
    font-size: 0.8rem;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
}

.fdr_on_add_modal_box>img{
    width:30px;
    height:30px;
    border-radius: 100%;
    margin-top: 50px;
    margin-left: 10px;
}

.fdr_on_add_submit_btn_box{
    width:100%;
    height:100px;
}
.fdr_on_add_submit_btn_box>button{
    width: 80%;
    height:80px;
    border-radius: 10px;
    margin-left: 10%;
    border:none;
    background:#294174;
    color:#fff;
}

}

/* 폴더 - media 웹 최소 사이즈 */
@media(min-width:500px){
    .fdr_body{
        height: 100%;
        font-size: 16px;   
        background-color: #f9f9f9;
    }    
    .pro_fdr_count{
        margin-left: 15px;
    }
    .fdr_length_font{
        position: relative;
        top: -10px;
        left: 15;
        font-size: 1rem;
    }

    .pro_fdr_count>.MuiSvgIcon-root{
        font-size: 2rem;
    }
    .fdr_sort_box>input[type='radio']{
        width: 20px;
        height: 20px;
    }
    .fdr_add_btn{
        border: none;
        background: #294174;
        border-radius: 5px;
        margin-top: 10px;
        width:120px;
        height: 40px;
        color:#fff;
    }

    .fdr_sort_box{
        width: 100%;
        height: 80px;
        text-align: center;
        font-size: 0.8rem;
    }

    .fdr_subject_box{
        width: 460px;
        height: 100px;
        margin:10px;
        padding-top:30px;
        display: flex;
        
    }
    .fdr_subject_box:hover{
        border-bottom: 4px solid #294174;
    }
    .fdr_subject_box>.MuiSvgIcon-root:nth-child(1){
        font-size: 4rem;
        margin-right: 10px;
        margin-left: 20px;
        display: block;
    }
    .fdr_subject_box>.MuiSvgIcon-root:nth-of-type(2){   
        font-size: 2rem;
    }
    .fdr_subject_box>.MuiSvgIcon-root:nth-of-type(3){   
        font-size: 2rem;
    }

    .fdr_no_box{
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 10px;
        width:460px;
        height:200px;
        text-align: center;
    }
    .fdr_no_font1{
        font-size:0.9rem;
        display: inline-block;
        margin-top: 20px;
    }
    
    .fdr_no_font2{
        font-size: 1.3rem;
        display: inline-block;
        margin-top: 20px;
    }

    .fdr_no_btn{
        border:0.5px solid gray;
        margin-top: 20px;
        width: 140px;
        height: 50px;
        border-radius: 5px;
        background-color: #294174;
        color:#fff;
    }
    
    .fdr_on_modal{
        margin-top: 100px;
        width:470px;
        height:600px;
        margin-left: 10px;
        background-color: white;
    }
    
    .fdr_on_modal_top{
     text-align: center;
     width: 100%;
     height:50px;
     background-color: #294174;
     padding-top: 30px;
     font-size:1.675rem;
     color:#fff;
    }
    
    .fdr_on_modal_input{
        width: 80%;  
        height:60px;
        margin-bottom: 10px;
        border:none;
        border-bottom: 5px solid black;
        font-size:0.975rem;
    }
    
    .fdr_on_modal_input:hover{
        border-bottom: 5px solid chartreuse;
    }
    
    .fdr_on_submit{
        width: 80%;
        height:60px;
        border-radius: 5px;
    }
    
    .fdr_on_font1{
        width: 300px;
        font-size: 1.4rem;
    }

    .fdr_icon_box{
        padding-top: 10px;
        padding-right: 30px;
        text-align: right;
    }
    
    .fdr_icon_box svg{
        font-size: 2rem;
    }

    .fdr_icon_box{
        padding-top: 10px;
        padding-right: 30px;
        text-align: right;
    }
    
    .fdr_set_box{
        margin-top:20px;
        margin-bottom: 10%;
        margin-left: 10px;
        width:220px;
        height:150px;
        display: inline-block;
        box-shadow:5px black;
    }
    
    .fdr_set_box_subject{
        margin: 0;
        padding-top:10px;
        padding-left: 10px;
        font-size: 1.165rem;
        font-weight: bold;
    }
    .fdr_set_box_count{
        margin: 0;
        padding-left: 10px;
        padding-top:10px;
    }
    .fdr_set_box_id{
        margin: 0;
        padding-left: 10px;
        padding-top:10px;
        font-size: 0.9rem;
        font-weight: 600;
    }
    .fdr_set_box_id>img{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-right: 10px;
    }
    
    .fdr_set_box_id>span{
        max-width: 80px;
        font-size: 0.8rem;
        margin-right: 10px;
    }

    .fdr_on_add_fdr_content{
        overflow: auto;
        max-height: 450px;
    }

    .fdr_on_add_fdr_content_box{
        display: inline-block;
        width:200px;
        height: 180px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .fdr_on_add_modal_box input[type='checkbox']{
        width: 25px;
        height: 25px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .fdr_add_modal_con_sub_font{
        font-size: 0.8rem;
        display: inline;
        margin-left: 5px;
    }
    .fdr_add_modal_con_name_font{
        display: inline-block;
        font-size: 1.2rem;
        margin-left: 10px;
        margin-right: 10px;
        width: 150px;
    }

    .fdr_on_add_modal_box>img{
        width:50px;
        height: 50px;
        border-radius: 100%;
        margin-top: 50px;
        margin-left: 10px;
    }
    
    .fdr_on_add_submit_btn_box{
        width:100%;
        height:100px;
    }
    .fdr_on_add_submit_btn_box>button{
        width: 80%;
        height:80px;
        border-radius: 10px;
        margin-left: 10%;
        border:none;
        background:#294174;
        color:#fff;
    }
}

/* 폴더 - media 일반 사이즈 */
@media(min-width:501px){
    .fdr_body{
        width:100%;
        height: 100%;
        font-size: 16px;  
        background-color: #f9f9f9;
    }    
    
    .pro_fdr_count{
        margin-left: 30px;
    }

    .fdr_length_font{
        position: relative;
        top: -10px;
        left: 15;
        font-size: 2rem;
    }

    .pro_fdr_count>.MuiSvgIcon-root{
        font-size: 3rem;
    }

    .fdr_sort_box{
        width: 100%;
        height: 70px;
        text-align: left;
        font-size: 0.8rem;
    }
    .fdr_add_btn{
        border: none;
        background: #294174;
        margin-left: 30px;
        border-radius: 5px;
        width:100px;
        height: 40px;
        color:#fff;
    }
    .fdr_sort_box>input[type='radio']{
        margin: 25px;
        width: 20px;
        height: 20px;
    }
    .fdr_subject_box{
        width: 800px;
        height: 100px;
        margin:10px;
        padding-top:30px;
        display: flex;
    }
    .fdr_subject_box:hover{
        border-bottom: 4px solid #294174;
    }
    .fdr_subject_box>.MuiSvgIcon-root:nth-child(1){
        font-size: 4rem;
        margin-right: 10px;
        margin-left: 20px;
        display: block;
    }
    .fdr_subject_box>.MuiSvgIcon-root:nth-of-type(2){   
        font-size: 2rem;
    }
    .fdr_subject_box>.MuiSvgIcon-root:nth-of-type(3){   
        font-size: 2rem;
    }
    .fdr_no_box{
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 10px;
        width:100%;
        height:300px;
        text-align: center;
    }
    .fdr_no_font1{
        font-size:1.4rem;
        display: inline-block;
        margin-top: 60px;
    }
    
    .fdr_no_font2{
        font-size: 2.1rem;
        display: inline-block;
        margin-top: 20px;
    }
    .fdr_no_btn{
        border:0.5px solid gray;
        margin-top: 20px;
        width: 180px;
        height: 60px;
        border-radius: 5px;
        background-color: #294174;
        font-size: 1.125rem;
        color:#fff;
        
    }
    
    .fdr_on_modal{
        margin-top: 100px;
        width:66%;
        margin-left:18%;
        height:800px;
        background-color: white;
    }
    
    .fdr_on_modal_top{
     text-align: center;
     width: 100%;
     height:50px;
     background-color: #294174;
     padding-top: 30px;
     font-size:1.675rem;
     color:#fff;
    }
    
    .fdr_on_modal_input{
        width: 80%;  
        height:60px;
        margin-bottom: 90px;
        border:none;
        border-bottom: 5px solid black;
        font-size:1.2rem;
    }
    
    .fdr_on_modal_input:hover{
       
        border-bottom: 5px solid chartreuse;
    }

    .fdr_on_modal_input:active{
        border:none;
        border-bottom: 5px solid black;
    }
    
    .fdr_on_submit{
        width: 80%;
        height:60px;
        border-radius: 5px;
        font-size: 1.2rem;
    }
    
    .fdr_on_font1{
        font-size: 1.8rem;
        width: 590px;
        margin-left: 35px;
    }

    .fdr_icon_box{
        padding-top: 10px;
        padding-right: 30px;
        text-align: right;
    }
    
    .fdr_icon_box svg{
        font-size: 2.525rem;
    }
    .fdr_set_box{
        margin-top:30px;
        margin-left:0;
        margin-bottom: 30px;
        width:240px;
        display: inline-block;
        margin-right: 40px;
        height:150px;
        box-shadow:5px black;
    }
    
    .fdr_set_box_subject{
        margin: 0;
        padding-top:10px;
        padding-left: 10px;
        font-size: 1.165rem;
        font-weight: bold;
    }
    .fdr_set_box_count{
        margin: 0;
        padding-left: 10px;
        padding-top:10px;
    }
    .fdr_set_box_id{
        margin: 0;
        padding-left: 10px;
        padding-top:25px;
        font-size: 0.9rem;
        font-weight: 600;
    }
    .fdr_set_box_id>img{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-right: 10px;
    }
    
    .fdr_set_box_id>span{
        width:100px;
        margin-right: 10px;
    }

    .fdr_on_add_fdr_content{
        overflow: auto;
        max-height: 650px;
    }

    .fdr_on_add_fdr_content_box{
        display: inline-block;
        width:300px;
        height: 200px;
        margin-left: 100px;
        margin-bottom: 20px;
    }
    .fdr_on_add_modal_box input[type='checkbox']{
        width: 25px;
        height: 25px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .fdr_add_modal_con_sub_font{
        font-size: 1.5rem;
        display: inline;
        margin-left: 5px;
    }
    .fdr_add_modal_con_name_font{
        display: inline-block;
        font-size: 1.3rem;
        margin-left: 10px;
        margin-right: 10px;
        width: 155px;

    }

    .fdr_on_add_modal_box>img{
        width:70px;
        height: 70px;
        border-radius: 100%;
        margin-top: 70px;
        margin-left: 10px;
    }
    
    .fdr_on_add_submit_btn_box{
        width:100%;
        height:100px;
    }
    .fdr_on_add_submit_btn_box>button{
        width: 80%;
        height:80px;
        border-radius: 10px;
        margin-left: 10%;
        border:none;
        background:#294174;
        color:#fff;
    }  

}

/* default - media 일반 사이즈 */
@media(min-width: 551px){
    .defaultTitle{
        display: inline-block;
        margin: 1rem 2rem;
        font-size: 2rem;
        color: rgb(95, 94, 94);
    }
    .mycardList>*{
        font-family: 'Nanum Barun Gothic', sans-serif;
        
    }
    .mycardList{
        border-radius: 17px;
        padding: 0.4rem 1rem;
        border: 0;
        height: 150px;
        margin: 0.3rem 0.3rem;
        background-color: #fff;
        box-shadow: 0px 3px 15px -4px #BDBDBD;
    }

    .mycardList>.mycardSubject{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 30%;
        font-size: 1.5em;

    }
    .mycardList>.mycardCount{
        font-size: 1em;
        color: #8a8a8a;
        height: 40%;
    }
    .mycardList>.mycardCardId{
        height: 30%;
        display: flex;
    }
    .mycardCardId>p{
        margin: 0;
    }
    .mycardCardId>span{
        padding-left: 0.5rem;
        padding-top: 0.5rem;
    }
    .cardProfileImg{
        background-color:#0de30d;
        border-radius:40px;
        width:40px;
        height:40px;
    }
    .mycardCardId>p{
        margin: 0;
    }
    .mycardCardId>p>span{
        margin-left: 0.5rem;
    }
    /* ------------------- */
    .mycardCardWriteDay{
        position: relative;
        top: -10px;
        right: -30px;
    }
    .mycardCardName{
        position: relative;
        top: -10px;
        left: 0;
    }
    .mycardCardConnect{

    }
    /* ------------------- */
    .defaultPageFind{
        text-align: center;
    }
    .defaultPageFind>.defaultPageFindButton{
        color: #fff;
        width: 177px;
        font-size: 1.3rem;
        height: 58px;
        border-radius: 5px;
        border: 0;
        background-color: #294174;
        transition: 0.3s;
    }
    .defaultPageFind>span{
        display: block;
        font-size: 1.6rem;
        color: #757373;
        font-weight: 400;
        padding: 1rem;
    }
    .defaultPageFind>.defaultPageFindButton:active{
        background-color: #5383e8;
    }
    .defaultPageFind>.defaultPageFindButton:focus{
        outline: none;    
    }

}
/* default - media 웹 최소 사이즈 */
@media(max-width: 550px){
    .defaultTitle{
        display: inline-block;
        margin: 1rem;
        font-size: 1.5rem;
        color: rgb(95, 94, 94);
    }
    .mycardList{
        padding: 0 1rem;
        border: 0;
        height: 150px;
        background-color: #fff;
        margin: 0.3rem 0.3rem;
        box-shadow: 0px 3px 15px -4px #BDBDBD;

    }
    .mycardList>.mycardSubject{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 30%;
        font-size: 1.5em;

    }
    .mycardList>.mycardCount{
        font-size: 1em;
        color: #8a8a8a;
        height: 40%;
    }
    .mycardList>.mycardCardId{
        height: 30%;
        display: flex;
    }
    .mycardCardId>span{
        padding-left: 0.5rem;
        padding-top: 0.5rem;
    }
    .cardProfileImg{
        background-color:red;
        border-radius:40px;
        width:40px;
        height:40px;
    }
    .mycardCardId>p{
        margin: 0;
    }
    .mycardCardId>p>span{
        margin-left: 0.5rem;
        font-size: 1.1rem;
    }
    /* ------------------- */
    .mycardCardWriteDay{
        position: relative;
        top: -6px;
        right: -75px;
    }
    .mycardCardName{
        position: relative;
        top: -6px;
        left: 0;
    }
    .mycardCardConnect{

    }
    /* ------------------- */
    .defaultPageFind>.defaultPageFindButton{
        color: #fff;
        position: fixed;
        right: 1rem;
        z-index: 100;
        bottom: 1rem;
        width: 70px;
        border-radius: 40px;
        height: 70px;
        border: 0;
        background-color: #294174;
        transition: 0.3s;
    }
    .defaultPageFind>.defaultPageFindButton:active{
        background-color: #5383e8;
    }
    .defaultPageFind>.defaultPageFindButton:focus{
        outline: none;    
    }
}
/* default - media 모바일 사이즈 */
@media(max-width: 375px){
    .mycardList{
        padding: 0 1rem;
        border: 0;
        height: 180px;
        background-color: #fff;
        margin: 5px auto;
        box-shadow: 0px 3px 15px -4px #BDBDBD;

    }
    .mycardList>.mycardSubject{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 30%;
        font-size: 1.5em;
    }
    .mycardList>.mycardCount{
        font-size: 1.3em;
        color: #8a8a8a;
        height: 40%;
    }
    .mycardList>.mycardCardId{
        height: 30%;
        display: flex;
    }
    .mycardCardId>p{
        margin: 0;
    }
    .mycardCardId>p>span{
        margin-left: 0.5rem;
        font-size: 1.1rem;
    }
    /* ------------------- */
    .mycardCardWriteDay{
        position: relative;
        top: -6px;
        right: -75px;
    }
    .mycardCardName{
        position: relative;
        top: -6px;
        left: 0;
    }
    /* ------------------- */
    .cardProfileImg{
        background-color:red;
        border-radius:40px;
        width:30px;
        height:30px;
    }
    .defaultTitle{
        display: inline-block;
        margin: 0.3rem 1rem;
        font-size: 1.2rem;
        color: rgb(95, 94, 94);
    }
    .defaultPageFind{
        width: auto;
    }
    .defaultPageFind>.defaultPageFindButton{
        color: #fff;
        position: fixed;
        right: 1rem;
        z-index: 100;
        bottom: 1rem;
        width: 70px;
        border-radius: 40px;
        height: 70px;
        border: navajowhite;
        background-color: #294174;
        transition: 0.3s;
    }
    .defaultPageFind>.defaultPageFindButton:active{
        background-color: #5383e8;
    }
    .defaultPageFind>.defaultPageFindButton:focus{
        outline: none;    
    }
    
}   

/* Diagram - media 일반 사이즈 */
@media(min-width: 551px){
    .DiagramInfo{
        background-color: #fff;
        height: 212px;
        padding: 0.6rem;
        box-shadow: 0px 5px 11px #a8a8a8;
        border-radius: 13px;
        margin-top: 1.5rem;
    }
    .ArcSeriesPoint{
        text-align: center;
        position: relative;
        top: -8.8rem;
        width: 100px;
        left: 6.2rem;
        color: #1483c3;
        font-weight: 400;
        text-shadow: 0px 0px 0px grey;
        font-size: 2rem;
    }
    .DiagramInfoCardBox>.DiagramInfoCardSubject{
        display: block;
        font-weight: 400;
        font-size: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 20%;

    }
    .DiagramInfoCardBox>.DiagramInfoCardCommit{
        display: block;
        height: 32%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-top: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;

    }
    .DiagramInfoCardBox>.DiagramInfoCard{
        padding: 0.3rem;
    }
    .DiagramInfoCardBox>.DiagramInfoCard>.DiagramInfoCardImg{
        width: 55px;
        height: 55px;
        border-radius: 40px;
    }
    .DiagramInfoCardBox>.DiagramInfoCard>.DiagramInfoCardId{
        font-size: 1.3rem;
        display: inline-block;
        padding-left: 0.8rem;
        position: relative;
        top: -20px;
    }
     .DiagramInfoChart01>.ArcSeries{
        margin: 0 auto;
        width: 170px;
     } 
     #DiagramDetail{
        padding: 0;
        width: 100%;
        height: 192px;
     }
     .moreView{
         display:none;
     }
     .diagramSearchForm>ul>li{
        list-style: none;
        height: 60px;
        font-size: 1.1rem;
        font-weight: 600;
     }
     .ArcSeriesInfo{
        font-size: 0.9rem;
        color: #405de8;
        margin-bottom: -7px;
        font-weight: bolder;
    }
    .DiagramListCardBox>.DiagramInfoCardSubject{
        display: block;
        font-size: 1.6rem;
        padding: 0.3rem 0;
    }
    .DiagramListCardBox>.DiagramInfoCardCommit{

       
    }

}
/* Diagram - media 웹 최소 사이즈 */
@media(max-width: 550px){
    .DiagramInfo{
        background-color: #fff;
        height: auto;
        padding: 0.6rem;
        box-shadow: 2px 3px 11px #a8a8a8;
        border-radius: 13px;
        margin-top: 1.5rem;
    }
    .ArcSeriesPoint{
        text-align: center;
        position: relative;
        top: -6.2rem;
        width: 65px;
        left: 5.3rem;
        color: #1483c3;
        font-weight: 400;
        text-shadow: 0px 0px 0px grey;
        font-size: 1.5rem;
    }
    .DiagramInfoCardBox>.DiagramInfoCardSubject{
        display: block;
        font-weight: 400;
        font-size: 1.5rem;
        overflow:hidden; 
        text-overflow:ellipsis; 
        white-space:nowrap;

    }
    .DiagramInfoCardBox>.DiagramInfoCardCommit{
        display: block;
        padding: 0.2rem 0;
        overflow:hidden; 
        text-overflow:ellipsis; 
        white-space:nowrap;
    }
    .DiagramInfoCardBox>.DiagramInfoCard{
        padding: 0 0.3rem;
    }
    .DiagramInfoCardBox>.DiagramInfoCard>.DiagramInfoCardImg{
        width: 55px;
        height: 55px;
        border-radius: 40px;
    }
    .DiagramInfoCardBox>.DiagramInfoCard>.DiagramInfoCardId{
        font-size: 1.3rem;
        display: inline-block;
        padding-left: 0.8rem;
        position: relative;
        top: -20px;
    }
     .DiagramInfoChart01>.ArcSeries{
        margin: 0 auto;
        width: 170px;
     } 
     .moreView{
        background-color: #dbdbdb;
        position: relative;
        top: 9px;
        left: 0;
        width: 100px;
        margin: 0 auto;
        text-align: center;
    }        
    .diagramSearchForm{
        text-align: center;
    }        
    .ArcSeriesInfo{
        font-size: 0.9rem;
        color: #405de8;
        margin-bottom: -7px;
        font-weight: bolder;
    }          
                                
}
/* Diagram - media 모바일 사이즈 */
@media(max-width: 375px){
    .DiagramInfo{
        background-color: #fff;
        height: auto;
        padding: 0.6rem;
        box-shadow: 2px 4px 11px #a8a8a8;
        border-radius: 13px;
    }
    .ArcSeriesPoint{
        text-align: center;
        position: relative;
        top: -6.2rem;
        width: 65px;
        left: 3.3rem;
        color: #1483c3;
        font-weight: 400;
        text-shadow: 0px 0px 0px grey;
        font-size: 1.5rem;
    }
    .DiagramInfoCardBox>.DiagramInfoCardSubject{
        display: block;
        font-weight: 400;
        font-size: 1.5rem;
        overflow:hidden; 
        text-overflow:ellipsis; 
        white-space:nowrap;

    }
    .DiagramInfoCardBox>.DiagramInfoCardCommit{
        display: block;
        padding: 0.2rem 0;
        overflow:hidden; 
        text-overflow:ellipsis; 
        white-space:nowrap;
    }
    .DiagramInfoCardBox>.DiagramInfoCard{
        padding: 0 0.3rem;
    }
    .DiagramInfoCardBox>.DiagramInfoCard>.DiagramInfoCardImg{
        width: 55px;
        height: 55px;
        border-radius: 40px;
    }
    .DiagramInfoCardBox>.DiagramInfoCard>.DiagramInfoCardId{
        font-size: 1.3rem;
        display: inline-block;
        padding-left: 0.8rem;
        position: relative;
        top: -20px;
    }
    .moreView{
        background-color: #dbdbdb;
        position: relative;
        top: 9px;
        left: 0;
        width: 100px;
        margin: 0 auto;
        text-align: center;
    }
    .diagramSearchForm{
        text-align: center;
    }
    .ArcSeriesInfo{
        font-size: 0.9rem;
        color: #405de8;
        margin-bottom: -7px;
        font-weight: bolder;
    }

}

/* DiagramList - media 일반 사이즈 */
@media(min-width: 551px){
    .diagramList{
        min-height: 780px;
    }
    .diagramList>.DiagramInfo{
        height: auto;
        padding: 0.2rem;
        box-shadow: 2px 12px 11px #a8a8a8;
        border-radius: 13px;  
    }
    .DiagramListChart03>.better{
        min-height: 54px;
        border-top: 1px solid #a8a8a8;
        text-align: center;
        width: 100%;
        display: inline-block;
        padding-top: 17px;
        margin-bottom: 18px;
        margin-top: 0;
        font-weight: 600;
        transition: 0.5s;
    }
    .DiagramListChart03>.better>span{
        color: #283fab;
        vertical-align: middle;
    }
    .testCount{
        width: 170px;
        text-align: center;
    }
    .testKind{
        width: 170px;
        text-align: center;
    }
    .DiagramUl{
        padding: 0;
    }

    .DiagramUl>.DiagramLi{
        text-align: center;
        list-style: none;
    }

    .DiagramLiSubjective{
        border-bottom: 1px solid #a8a8a8;
    }
    .DiagramLiSubjective:nth-last-child(1){
        border-bottom: none;
    }
    .DiagramLiChoice{
        border-bottom: 1px solid #a8a8a8;
      
    }
    .DiagramLiChoice:nth-last-child(1){
        border-bottom: none;
    }
    .DiagramListChart02{
        text-align: center;
        margin: 0.5rem 0;
    }
    .DiagramListChart01{
        text-align: center;
        margin: 0.5rem 0;
    }
    .ListArcSeriesPoint{
        text-align: center;
        position: relative;
        top: -9.8rem;
        width: 65px;
        left: 14.6rem;
        color: #1483c3;
        font-weight: 400;
        text-shadow: 0px 0px 0px grey;
        font-size: 1.5rem;
    }
    .DiagramListselect{
        text-align: center;
    }
}
/* DiagramList - media 웹 최소 사이즈 */
@media(max-width: 550px){
    .diagramList{
        min-height: 780px;
    }
    .diagramList>.DiagramInfo{
        height: auto;
        padding: 0.2rem;
        box-shadow: 2px 12px 11px #a8a8a8;
        border-radius: 13px;  
    }
    .DiagramListChart03>.better{
        min-height: 54px;
        border-top: 1px solid #a8a8a8;
        text-align: center;
        width: 100%;
        display: inline-block;
        padding-top: 17px;
        margin-bottom: 18px;
        margin-top: 0;
        font-weight: 600;
        transition: 0.5s;
    }
    .DiagramListChart03>.better>span{
        color: #283fab;
        vertical-align: middle;
    }
    .testCount{
        width: 170px;
        text-align: center;
    }
    .testKind{
        width: 170px;
        text-align: center;
    }
    .DiagramUl{
        padding: 0;
    }

    .DiagramUl>.DiagramLi{
        text-align: center;
        list-style: none;
    }

    .DiagramLiSubjective{
        border-bottom: 1px solid #a8a8a8;
    }
    .DiagramLiSubjective:nth-last-child(1){
        border-bottom: none;
    }
    .DiagramLiChoice{
        border-bottom: 1px solid #a8a8a8;
      
    }
    .DiagramLiChoice:nth-last-child(1){
        border-bottom: none;
    }
    .DiagramListChart02{
        text-align: center;
        margin: 0.5rem 0;
    }
    .DiagramListChart01{
        text-align: center; 
        margin: 0.5rem 0;
    }
    .ListArcSeriesPoint{
        text-align: center;
        position: relative;
        top: -7.6rem;
        width: 65px;
        left: 3.4rem;
        color: #1483c3;
        font-weight: 400;
        text-shadow: 0px 0px 0px grey;
        font-size: 1.5rem;
    }
    .DiagramListselect{
        text-align: center;
    }
    
}
/* DiagramList - media 모바일 사이즈 */
@media(max-width: 375px){
    .diagramList{
        min-height: 750px;
    }
    .diagramList>.DiagramInfo{
        height: auto;
        padding: 0.6rem;
        box-shadow: 2px 12px 11px #a8a8a8;
        border-radius: 13px;  
    }
    .DiagramListChart03>.better{
        min-height: 54px;
        border-top: 1px solid #a8a8a8;
        text-align: center;
        width: 100%;
        display: inline-block;
        padding-top: 17px;
        margin-bottom: 18px;
        margin-top: 0;
        font-weight: 600;
        transition: 0.5s;
    }
    .DiagramListChart03>.better>span{
        color: #283fab;
        vertical-align: middle;
    }
    .testCount{
        width: 170px;
        text-align: center;
    }
    .testKind{
        width: 170px;
        text-align: center;
    }
    .DiagramUl{
        padding: 0;
    }
    .DiagramUl>.DiagramLiTitle>span{
        border-left: 1px solid #dbdbdb;
    }
    .DiagramUl>.DiagramLiTitle>span:nth-child(1){
        border-left: none;
    }
    .DiagramUl>.DiagramLi{
        text-align: center;
        list-style: none;
    }
    .DiagramLiSubjective{
        border-bottom: 1px solid #a8a8a8;
    }
    .DiagramLiSubjective:nth-last-child(1){
        border-bottom: none;
    }
    .DiagramLiChoice{
        border-bottom: 1px solid #a8a8a8;
    }
    .DiagramLiChoice:nth-last-child(1){
        border-bottom: none;
    }
    .DiagramListChart02{
        margin: 0.5rem 0;
    }
    .DiagramListChart01{
        margin: 0.5rem 0;
    }
    .ListArcSeriesPoint{
        text-align: center;
        position: relative;
        top: -7.6rem;
        width: 65px;
        left: 3.4rem;
        color: #1483c3;
        font-weight: 400;
        text-shadow: 0px 0px 0px grey;
        font-size: 1.5rem;
    }
}


