#board{
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 10px;
}
.BoardTop{
    width: 80%;
    height: 30%;
    position: relative;
    border: 1px solid black;
}

.BoardContainer{
    width: 80%;
    height: 60%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

.BoardItem{
    width: 95%;
    height: 10%;
    border: 1px solid black;
}

.cardFront, .cardBack
{
  position:absolute;
  width:250px;
  height:400px;
  background:url('https://s.cdpn.io/33073/lorempixel.jpg');
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.cardBack
{
  background:url('https://s.cdpn.io/33073/lorempixe1l.jpg');
}

.BoardBottom{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border: 1px solid black;
}

.BoardSearch{
    width: 65%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border: 1px solid black;
}

.BoardInsert{
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid black;
}

.BoardPagination{
    width: 80%;
    height: 5%;
    border: 1px solid black;    
}