a{
    text-decoration: none;
}
@media(min-width:1px){
    *:focus{
        text-decoration: none;
    }
    input:focus{
        background-color: none;
    }
}
@media(min-width: 551px){

    /* .boardTableSubject{
        margin-top: 1rem;
        border: 1px solid #000;
    } */
    .boardTableTitle{
        text-align: center;
    }
    .boardSearchForm{
        padding: 0.5rem;
        text-align: center;
    }
    .BoardInsert{
        text-align: center;
    }
    .boardSearchBar>.MuiInputBase-root>input{
        padding: 0;
        width: 300px;
        height: 40px;
        border: 1px solid #bdbdbd;
        
    }
    .BoardProImage{
        border-radius: 50px;
        height: 30px;
    }
    .BoardItem{
        color: #000;
        padding: 10px;
        margin: 1rem;
        border-radius: 17px;
        border: 0;
        height: 150px;
        box-shadow: 0px 3px 15px -4px #BDBDBD;
    }
    
    .BoardPagination>div{
        margin: 0 auto;
        display: table;
    }
    .BoardItemSubject{
        font-size: 1.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .BoardItemWriteDay{   
        color: #9a9a9a;
        
    }
    .BoardItemReadCount{
        text-align: right;
        color: #9a9a9a;
    }
    .BoardItemContent{
        font-size: 1.2rem;
        height: 3rem;
        border-top: 2px solid #e6e4e4;
        margin-top: 0.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-top: 0.5rem;
    }
    .BoardProImage{
        border-radius: 50px;
        height: 40px;
        width: 40px;
        margin-left: 0.5rem;
    }
    .BoardItemWriter{
        text-align: left;
        line-height: 2.5rem;
        font-size: 1.3rem;
        width: 100%;
    }
    #boardSearchBtn{
        border-radius: 0;
        color: #fff;
        height: 42px;
        padding-top: 0;
        padding-bottom: 0;
        background-color: #7a378c;
    }
}

@media(max-width: 550px){

    .boardTableSubject{
        margin-top: 0.1rem;
        border: 0;
    }
    .boardTableTitle{
        text-align: center;
    }
    .boardSearchForm{
        text-align: center;
    }
    .BoardInsert{
        margin-top: 8vh;
    }
    .boardSearchBar>.MuiInputBase-root>input{
        padding: 0;
        width: 300px;
        height: 40px;
        border: 1px solid #bdbdbd;
        
    }
    
    .BoardItem{
        color: #000;
        padding: 10px;
        margin: 1rem;
        border-radius: 17px;
        border: 0;
        height: 150px;
        box-shadow: 0px 3px 15px -4px #BDBDBD;
    }
    .BoardPagination>div{
        margin: 0 auto;
        display: table;
    }
    .BoardItemSubject{
        font-size: 1.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .BoardItemWriteDay{
        color: #9a9a9a;
    }

    .BoardItemReadCount{
        text-align: right;
        color: #9a9a9a;
    }
    .BoardItemContent{
        font-size: 1.2rem;
        height: 3rem;
        border-top: 2px solid #e6e4e4;
        margin-top: 0.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-top: 0.5rem;
    }
    .BoardProImage{
        border-radius: 50px;
        height: 40px;
        width: 40px;
        margin-left: 0.5rem;
    }
    .BoardItemWriter{
        text-align: left;
        line-height: 2.5rem;
        font-size: 1.3rem;
        width: 100%;
    }
    #BoardInsertBtn{
        border-radius: 50px;
        position: fixed;
        bottom: 1vh;
        width: 13rem;
        right: 27%;
        height: 5vh;
    }
    #boardSearchBtn{
        border-radius: 0;
        color: #fff;
        height: 42px;
        padding-top: 0;
        padding-bottom: 0;
        background-color: #7a378c;
    }
}

@media(max-width: 375px){

    .boardTableSubject{
        margin-top: 0.1rem;
        border: 0;
    }
    .boardTableTitle{
        text-align: center;
    }
    .boardSearchForm{
        font-size: 0.9rem;
        text-align: center;
    }
    .BoardInsert{
        margin-top: 7vh;
        text-align: center;
    }
    .boardSearchBar>.MuiInputBase-root>input{
        padding: 0%;
        width: 300px;
        height: 40px;
        border: 1px solid #bdbdbd;
        font-size: 1.2rem;
        
    }
    
    .BoardItem{
        color: #000;
        padding: 10px;
        margin: 1rem;
        border-radius: 17px;
        border: 0;
        height: 150px;
        box-shadow: 0px 3px 15px -4px #BDBDBD;
    }
    .BoardPagination>div{
        margin: 0 auto;
        display: table;
    }
    .BoardItemSubject{
        font-size: 1.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .BoardItemWriteDay{
        color: #9a9a9a;
    }

    .BoardItemReadCount{
        text-align: right;
        color: #9a9a9a;
    }
    .BoardItemContent{
        height: 3rem;
        border-top: 2px solid #e6e4e4;
        margin-top: 0.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    
    }
    .BoardProImage{
        border-radius: 50px;
        height: 40px;
        width: 40px;
        margin-left: 0.5rem;
    }
    .BoardItemWriter{
        text-align: left;
        line-height: 2.5rem;
        font-size: 1.3rem;
        width: 100%;
    }
    #BoardInsertBtn{
        border-radius: 50px;
        position: fixed;
        bottom: 1vh;
        width: 13rem;
        right: 11vh;
    }
    #boardSearchBtn{
        border-radius: 0;
        color: #fff;
        height: 42px;
        padding-top: 0;
        padding-bottom: 0;
        background-color: #7a378c;
    }
}

/* 만들기 모바일 사이즈 */
@media(max-width:375px){
    .board_body{
        width: 375px;
        height: 100%;
        font-size: 16px;
    }

    .board_top{ 
        font-size: 1.425rem;
        margin-top:10px;
    }

    .board_top_input_box{
        margin-left: 10px;
    }
    .board_ist_input_font{
        margin-left: 10px;
        font-size: 0.775rem;
        color:#737373;
    }
    .board_ist_input_font2{
        margin-left: 10px;
        font-size: 0.9rem;
        color:#737373;
    }

    .board_ist_input_font3{
        font-size: 0.9rem;
        color:#737373;
    }
    
    .board_ist_title{
        border:none;
        font-size: 1.1rem;
        width: 250px;
        height:40px;
        border-bottom: 2px solid #494949;
        margin-left: 10px;
    }
    .inputTop{
        margin-top: 5px;
        margin-bottom: 10px;
        background: none;
        font-size: 0.7rem;
    }
    .board_slt_bar{
        border: none;
        border-bottom: 1px solid #232323;
        width: 150px;
        height: 40px;
        margin-left: 10px;
    }
    .board_add_content_paper{
        margin-top: 20px;
        margin-left: 15px;
        width: 340px;
        height: 180px;
    }

    .board_add_card_paper{
        margin-top: 20px;
        margin-left: 15px;
        width: 90%;
        text-align: center;
        height: 60px;      
    }
    .crt_sch_btn{
        border:none;
        width:50px;
        height:40px;
        border-radius: 5px;
    }

    .board_add_card{
        border: none;
        border-bottom: 2px solid #232323;
        background: none;
        width: 100px;
        height:50px;
    }
    .add_icon{
        font-size:0.8rem;
    }

    .board_slt_mun{
        border: none;
        border-bottom: 1px solid #232323;
        width: 200px;
        font-size: 0.7rem;
        margin-top: 10px;
        margin-left: 10px;
        height:20px;
    }
    .imgPaperVisible_board{
        display: flex;
        margin-top: 10px;
        margin-left: 15px;
        height: 250px;
        width: 340px;
    }
    .imgPaperinVisible{
        display: none;
    }

    .file_add label {
        display: inline-block;
        padding: .5em .75em;
        font-size: 0.8rem;
        line-height: normal;
        vertical-align: middle;
        background-color: #c29fcb;
        cursor: pointer;
        border: 1px solid #ebebeb;
        border-bottom-color: #e2e2e2;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        text-align: center;
        margin-left: 60px;
    }
    .file_add input[type="file"] {
         /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
    }

    .board_hidden_pass{
        margin-top: 20px;
        border:none;
        border-bottom: 1px solid gray;
        margin-left:10px;
        width:146px;
    }

    ::-webkit-scrollbar {
      width: 375px;
      }

    .scroll_x{
        margin-top: 10px;
        display: flex;
        overflow-x: scroll;
        width: 320px;
    }

    .scroll_img{
        flex-shrink: 0;
        width:80px;
        height:80px;
        border-radius: 5px;
    }

    .scroll_img_select{
        flex-shrink: 0;
        width:65px;
        height:65px;
        margin-right: 10px;
        margin-left: 20px;
        border-radius: 5px;
    }

    .board_img_sch_input{
        background: none;
        border:none;
        border-bottom: 1px solid gray;
        margin-right: 5px;
        margin-left: 10px;
        height: 30px;
        width: 120px;
        font-size: 0.7rem;
    }

    .board_create_btn_box{
        text-align: right;
    }

    .board_create_btn{
        margin-top: 20px;
        margin-right: 25px;
        margin-bottom: 10px;
        border-radius: 5px;
        border:none;
        background: #c29fcb;
        width: 100px;
        height:40px;
    }

    .board_img_box{
        width: 100%;
        text-align: center;
    }
    /* 아이콘 크기 */
    .board_img_box>.MuiSvgIcon-root{
        font-size: 4.5rem;
    }

    .board_img_select_box>p{
        font-size: 0.4rem;
    }
}
/* 만들기 웹 최소 사이즈*/
@media(min-width:500px){
    .board_body{
        width: 500px;
        height: 100%;
        font-size: 16px;
    }

    .board_top_input_box{
        margin-left: 5px;
    }

    .board_top{
        width:80%;
        font-size: 1.425rem;
        margin-top:10px;
        margin-left: 10px;
    }
    .board_ist_input_font{
        margin-left: 10px;
        font-size: 0.975rem;
        color:#737373;
    }

    .board_ist_input_font2{
        margin-left: 10px;
        font-size: 1.1rem;
        color:#737373;
    }

    .board_ist_input_font3{
        font-size: 0.9rem;
        color:#737373;
    }
    
    .board_ist_title{
        border:none;
        font-size: 0.8rem;
        margin-left: 10px;
        width:450px;
        height:40px;
        border-bottom: 2px solid #494949;
        
    }
    .inputTop{
        margin-top: 5px;
        margin-bottom: 10px;
        background: none;
    }
    .board_slt_bar{
        border: none;
        border-bottom: 1px solid #232323;
        width: 200px;
        height: 40px;
        margin-left: 10px;
    }
    .board_add_content_paper{
        margin-top: 20px;
        margin-left: 15px;
        width: 465px;
        height: 270px;
    }

    .board_add_card_paper{
        margin-top: 20px;
        margin-left: 15px;
        width: 465px;
        text-align: center;
        height: 60px;
        
    }

    .board_add_card{
        border: none;
        border-bottom: 2px solid #232323;
        background: none;
        width: 100px;
        height:50px;
    }
    .add_icon{
        font-size:0.8rem;
    }

    .board_slt_mun{
        border: none;
        border-bottom: 1px solid #232323;
        width: 270px;
        margin-top: 10px;
        margin-left: 10px;
        height:60px;
        font-size: 0.9rem;
    }
    .board_image_icon{
        font-size: 5rem;
    }

    .imgPaperVisible_board{
        display: flex;
        margin-top: 10px;
        margin-left: 15px;
        height: 300px;
        width: 465px;
    }

    .imgPaperinVisible{
        display: none;
    }


    .file_add label {
        display: inline-block;
        padding: .5em .75em;
        font-size: 0.8rem;
        line-height: normal;
        vertical-align: middle;
        background-color: #c29fcb;
        cursor: pointer;
        border: 1px solid #ebebeb;
        border-bottom-color: #e2e2e2;
        border-radius: 5px;
        width: 100px;
        height: 20px;
        margin-bottom: 10px;
        text-align: center;
        float: right;
    }
    .file_add input[type="file"] {
         /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
    }
    .board_img_sch_input{
        background: none;
        border:none;
        border-bottom: 1px solid gray;
        margin-right: 5px;
        margin-left: 10px;
        height: 40px;
        font-size: 0.9rem;
    }

    .board_hidden_pass{
        margin-top: 20px;
        border:none;
        border-bottom: 1px solid gray;
        margin-left:10px;
        width:196px;
        height: 30px;
    }

    .scroll_x::-webkit-scrollbar {
        width:0px;
      }

    .scroll_x::-webkit-scrollbar-thumb{
          background-color:#c29fcb;
          
      }

    .scroll_x{
        margin-top: 10px;
        display: flex;
        overflow-x: scroll;
        width: 450px;
        height: 130px;
    }

    .scroll_img{
        flex-shrink: 0;
        width:100px;
        height:100px;
        margin-left: 10px;
        border-radius: 5px;
    }
    .scroll_img_select{
        flex-shrink: 0;
        width:80px;
        height:80px;
        margin-right: 10px;
        margin-left: 20px;
        border-radius: 5px;
    }

    .crt_sch_btn{
        border:none;
        width:50px;
        height:40px;
        border-radius: 5px;
    }

    .board_create_btn_box{
        text-align: right;
    }

    .board_create_btn{
        margin-top: 20px;
        margin-right: 30px;
        margin-bottom: 10px;
        border-radius: 5px;
        border:none;
        background: #c29fcb;
        width: 110px;
        height:50px;
    }

    .board_img_box{
        margin-top: 40px;
        width: 100%;
        text-align: center;
    }
    /* 아이콘 크기 */
    .board_img_box>.MuiSvgIcon-root{
        font-size: 6rem;
    }

    .board_img_select_box{
        width:120px;
        height: 120px;
    }
    .board_img_select_box>p{
        font-size: 0.6rem;
    }
}

/* 만들기 일반 웹 사이즈*/
@media(min-width:501px){
    .board_body{
        width:100%;
        height: 100%;
        font-size: 16px;  
    }

    .board_top{
        font-size: 2rem;
        margin-top:10px;
        margin-left: 100px;
    }

    .board_top_input_box{
        width: 90%;
        margin-left: 10px;
    }
  
    .board_ist_input_font{
        margin-left: 10px;
        font-size: 1.175rem;
        color:#737373;
    }

    .web{
        margin-left:10%;
    }

    .board_ist_input_font2{
        margin-left: 10px;
        font-size: 1.275rem;
        color:#737373;
    }

    .board_ist_input_font3{
        font-size: 1rem;
        color:#737373;
        margin-right: 10px;
    }
    
    .board_ist_title{
        border:none;
        font-size: 1rem;
        width:45%;
        height:100px;
        border-bottom: 2px solid #494949;
    }

    .inputTop{
        margin-top: 5px;
        margin-bottom: 30px;
        background: none;
    }

    .board_slt_bar{
        border: none;
        border-bottom: 1px solid #232323;
        width: 80%;
        height: 50px;
        margin-left: 10%;
    }
    .board_add_content_paper{
        margin-top: 20px;
        width: 90%;
        height: 300px;
    }

    .board_add_card_paper{
        margin-top: 20px;
        width: 90%;
        text-align: center;
        height: 80px;     
    }

    .board_add_card{
        border: none;
        border-bottom: 2px solid #232323;
        background: none;
        width: 100px;
        height:50px;
    }
    .add_icon{
        font-size:0.8rem;
    }

    .board_slt_mun{
        border: none;
        border-bottom: 1px solid #232323;
        width: 500px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 5px;
        height:60px;
        font-size: 0.9rem;
    }
    .imgPaperVisible_board{
        display: flex;
        margin-top: 10px;
        height: 400px;
        width: 90%;
    }
    .imgPaperinVisible{
        display: none;
    }
    .file_add{
        width:100%
        
    }
    .file_add label {
        font-size: 0.725rem;
        background-color: #c29fcb;
        cursor: pointer;
        border: 1px solid #ebebeb;
        border-bottom-color: #e2e2e2;
        border-radius: 5px;
        width: 120px;
        text-align: center;
        height: 40px;
        line-height: 3;
        margin-bottom: 10px;
        margin-right: 20px;
        float: right;
    }
    .file_add input[type="file"] {
         /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
    }
    .board_img_sch_input{
        border:none;
        border-bottom: 1px solid gray;
        margin-right: 20px;
        margin-left: 10px;
        height: 40px;
        font-size: 0.9rem;
    }

    .scroll_x::-webkit-scrollbar {
        width:0px;
      }

    .scroll_x::-webkit-scrollbar-thumb{
          background-color:#c29fcb;
          
      }

    .scroll_x{
        margin-top: 10px;
        display: flex;
        overflow-x: auto;
        width: 1150px;
        height:250px;
    }

    .scroll_img{
        flex-shrink: 0;
        width:200px;
        height:200px;
        margin-bottom: 10px;
        margin-left: 10px;
        border-radius: 5px;
    }
    .scroll_img_select{
        flex-shrink: 0;
        width:160px;
        height:160px;
        margin-right: 10px;
        margin-left: 20px;
        border-radius: 5px;
    }

    .board_create_btn_box{
        text-align: right;
    }

    .board_create_btn{
        margin-top: 20px;
        margin-right: 93px;
        margin-bottom: 10px;
        border-radius: 5px;
        border:none;
        background: #c29fcb;
        width: 180px;
        height:60px;
    }

    .board_img_box{
        width: 100%;
        text-align: center;
    }
    /* 아이콘 크기 */
    .board_img_box>.MuiSvgIcon-root{
        font-size: 9rem;
    }

    .crt_sch_btn{
        border:none;
        width:100px;
        height:50px;
        border-radius: 5px;
    }

    .board_img_select_box{
        width:200px;
        height: 200px;
    }
    .board_img_select_box>p{
        font-size: 0.9rem;
    }
}
/* ---------------------------------------------- */
/* boardItem 웹 사이즈 */
@media(min-width: 551px){

}
/* boardItem 웹 최소 사이즈 */
@media(max-width: 550px){

}
/* boardItem 모바일 사이즈 */
@media(max-width: 375px){
    .BoardStoreSubject{
        font-size: 1.3rem;
        margin-top: 1.1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .BoardStoreContent{
        text-align: center;
        margin: 0.9rem 0.2rem;
        border-top: 1px solid;
        font-size: 1.1rem;
        padding-top: 0.4rem;
    }
    .BoardStorePoint{
        color: #737373;
        text-align: center;
        line-height: 3.3rem;
        font-size: 1.2rem;
    }
    .BoardStoreReadCount{
        color: #737373;
        text-align: center;
    }
    .BoardStoreReadCount>p>span{
        position: relative;
        top: -0.35rem;
        color: #737373;
    }
    .BoardStoreWriteDay{
        text-align: center;
        line-height: 3.4rem;
        font-size: 1.1rem;
        color: #737373;
    }
    .BoardStoreSeller{
        text-align: center;
    }
    .BoardStoreSeller>p>span{
        position: relative;
        top: -0.7rem;
        left: 0.2rem;
        font-size: 1.3rem;
    }
    .BoardStoreItemList{
        border-top: 1px solid #dbdbdb;
       
    }
}
