a{
    text-decoration: none;
}

.boardTableSubject{
    margin-top: 1rem;
    border: 1px solid #000;
}
.boardTableTitle{
    text-align: center;
}
.boardSearchForm{
text-align: center;
}
.BoardInsert{
    text-align: center;
}
.boardSearchBar>.MuiInputBase-root>input{
    width: 300px;
    height: 40px;
    border: 1px solid #bdbdbd;
    
}
.BoardProImage{
    border-radius: 50px;
    height: 30px;
}
.BoardItem{
    border-radius: 10px;
    color: #000;
    padding: 10px;
    height: 140px;
    margin: 1rem;
    border: 1px solid #dbdbdb;
    box-shadow: 3px 1px 10px -3px #afafaf;
}
.BoardPagination{
    padding-left: 40px;
    text-align: center;
}
/* 



.BoardBottom{
    height: 10%;
    border: 1px solid black;
}

.BoardSearch{
    border: 1px solid black;
}

.BoardInsert{
    border: 1px solid black;
}



.InsertTitle{
    border: 1px solid black;
} */