.chps_body{
     width:400px;
     height:500px;
     text-align: center;
     padding-top: 100px;
     margin-left: 180px;
     font-size: 16px
}

.chps_body>label{
    font-size: 1.5rem;
    display: block;
    margin-bottom: 20px;
}

.chps_body>input{
    border: none;
    border-bottom: 1px solid gray;
    width: 200px;
    height: 50px;
    font-size: 0.9rem;
    margin-top: 80px;
    margin-left: 100px;
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.chps_body>button{
    border: none;
    width: 200px;
    height: 60px;
    background: #294174;
    border-radius: 5px;
    color:white;
}